<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Service</title>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="form container">
            <h4 class="mb-3">Add Service</h4>
            <form action="/admin/services/add" method="POST">
                <div>
                    <label for="name">Menu Name: </label>
                    <input class="form-control" type="text" name="name" placeholder="E.g. Piccolo">
                </div>
                <div>
                    <label for="price">Price: </label>
                    <input class="form-control" type="number" name="price" placeholder="E.g. 2000">
                </div>
                <div>
                    <label for="duration">Estimated Duration: </label>
                    <input class="form-control" type="number" min="0" max="45" name="duration" placeholder="In Minute">
                </div>
                <button class="btn btn-primary" type="submit">Save</button>
                <a href="/admin"><button type="button" class="btn btn-danger">Cancel</button></a>
            </form>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>