<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include("./partials/customer/head.ejs") %>
</head>
<body>
    <div class="container-template">
        <div class="container">
            <%- include("./partials/customer/header.ejs") %>
            <main class="main-index">
                <div class="mid">
                    <div class="img-logo">
                        <img src="/assets/barbershop-logoFix1.png" alt="logo" width="600" height="200">
                    </div>
                        <div class="menu">
                            <a href="/services" class="mr-5"><button class="btn btn-dark">See Our Services</button></a>
                            <!-- <a href="/customer/service/form" class="text-secondary mr-5"><button class="btn btn-dark">Get Started</button></a> -->
                        </div>
                </div>
            </main>
        </div>
        <%- include("./partials/customer/footer.ejs") %>
    </div>
</body>
</html>